@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hero{
  background-blend-mode: overlay;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
}

.btn{
  background: linear-gradient(155deg, rgb(235, 188, 21) , rgba(235, 188, 21,0.3));
}

.bg-social{
  background: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 12px;
}